# Ignorar ficheiros compilados
__pycache__/
*.pyc
*.pyo

# Ignorar ambientes virtuais
venv/
.env/
.venv/

# Ignorar ficheiros de IDEs
.vscode/
.idea/

# Ignorar ficheiros de sistema
.DS_Store

# Ignorar logs e temporários
*.log
*.tmp

# Ignorar ficheiros de compilação
backend/auth-service/target/
ws-gateway/target/

STM32N6-GettingStarted-ObjectDetection-main
/COCO

# Ignore large datasets and extracted folders
train2017/
val2017/
train2017/*
val2017/*

*.o
*.d
*.su
*.cyclo

person_dataset/
person_dataset_1k/

*.a
*.lst

